<header class="site-header site-header--horizontal">

  <%= image_tag 'us.png', class: 'site-header__logo' %>
  <h1 class="site-header__title">Sasha &amp; Sam
    <span class="site-header__date">12 September 2015</span>
  </h1>

  <%= partial 'common/nav' %>
</header>