<nav class="site-header__nav">
  <%= link_to 'Home', '/' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Photos', 'photos.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'What We Did', 'what-we-did.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Gift List', 'gift-list.html' %>
</nav>