* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $blue;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img {
  max-width: 100%;
  vertical-align: baseline;
}


a {
  text-decoration: none;
  color: $red;
}

nav {
  font-size: 24px;
  letter-spacing: 1px;
  color: $red;
  a {
    padding: 0 10px;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 21px 20px;
  img {
    width: 200px;
  }
}

.header--home span {
  display: block;
}

h1 {
  font-weight: 300;
  span {
    font-family: $sp-font;
    font-weight: 400;
    font-size: 48px;
  }
}

h2 {
  font-family: $sp-font;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-size: 16px;
  margin-top: 40px;
}

p {
  line-height: 1.7;
  margin: 24px 0;
}

ul {
  list-style: none;
  margin: 24px 0;
  padding: 0;
  li {
    margin: 10px 0;
  }
}

.page-content {
  padding: 20px;
  position: relative;
  z-index: 10;
}

/* Inner Pages */

.header--horizontal {
  display: table;
  width: 100%;

  h1 {
    display: table-cell;
    font-size: 18px;
    text-align: left;
    span {
      font-size: 20px;
    }
  }
  img {
    vertical-align: middle;
    width: 60px;
    margin-right: 10px;
  }

  nav {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    text-align: right;
  }
}