* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 20px;
  @include media($med) {
    padding: 10px;
  }
}

.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 10;
  @include media($med) {
    padding: 10px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

img {
  max-width: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: $red;
}

p, ul {
  a {
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
    padding-bottom: 1px;
    &:hover {
      border-bottom-color: $red;
    }
  }
}

h2 {
  font-family: $sp-font;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  color: $blue;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  color: $blue;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    margin: 1rem 0;
  }
}

.small-print {
  font-size: .75rem;
}

footer {
  text-align: center;
}

/* Inner Pages */

.sad-rufus {
  text-align: center;
  img {
    width: 80px;
  }
}