.gift-form {
  margin-left: auto;
  margin-right: auto;
}

.gift-form__header {
  text-align: center;
}

.gift-form__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.gift-form__icon {
  border-radius: 50%;
  width: 80px;
}

.gift-form__button {
  &:hover .loading {
    border-color: #FFFFFF;
    border-right-color: transparent;
  }
}

.powered-by-stripe {
  width: 100px;
  float: right;
  margin-top: 10px;
}

.shake {
  @include animation(shake 1s both);
}

.has-error {
  position: relatve;
  z-index: 20;
  box-shadow: 0 0 4px 1px rgba(255,0,0,0.5);
}

.payment-errors {
  text-align: center;
  background-color: $red;
  color: #FFFFFF;
  margin: 5px 0;

  span {
    display: block;
    padding: 5px 0;
  }
}

.processing {
  .loading {
    display: inline-block;
  }

  .button-text {
    display: none;
  }
}

.loading {
  @include animation(spinner 0.75s linear infinite);
  @include size(20px);
  border: 2px solid $red;
  border-right-color: transparent;
  border-radius: 50%;
  display: none;
  margin-top: 5px;
}

.success-payment, .modal {
  display: none;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.thankyou, .modal__inner {
  width: 300px;
  height: 280px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -140px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  text-align: center;
  padding: 10px;
  opacity: 0;
}

.thankyou img, .sent-rsvp__thankyou img {
  width: 80px;
}

@include keyframes(spinner) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(shake) {
  0%, 100% {
    @include transform(translate3d(0, 0, 0));
  }

  10%, 30%, 50%, 70%, 90% {
    @include transform(translate3d(-6px, 0, 0));
  }

  20%, 40%, 60%, 80% {
    @include transform(translate3d(6px, 0, 0));
  }
}