<header class="site-header site-header--horizontal">

  <%= image_tag 'us.png', class: 'site-header__logo' %>

  <h1 class="site-header__title">
    <a href="/">
      Sasha &amp; Sam
      <span class="site-header__date">15 August 2016</span>
    </a>
  </h1>

  <%= partial 'partials/nav' %>
</header>
