<nav class="site-header__nav">
  <%= link_to 'Home', '/' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'The Wedding Day', 'wedding-day.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Gift List', 'gift-list.html' %>
</nav>
