<%= partial 'partials/inner-header' %>

<section class="container">
  <h2>Accommodation</h2>

  <p>We want you all to stay to the end and party with us late into the night. We are pretty lucky that TFL may decide that 12th September will be the first night to run 24 hour tubes on the Victoria, Piccadilly, Northern, Jubilee &amp; Circle Lines so you London locals have no excuse!</p>

  <p>For people travelling to London and would like some suggestions on places to stay please see some of the options below.</p>

  <ul>
    <li><a target="_blank" href="http://hotelmegaro.co.uk/">Hotel Megaro</a></li>
    <li><a target="_blank" href="http://www.premierinn.com/en/hotel/KINPTI/london-kings-cross">Premier Inn London Kings Cross</a> (York Way)</li>
    <li><a target="_blank" href="https://www.travelodge.co.uk/hotels/258/London-Central-Kings-Cross-hotel">Travelodge London Central Kings Cross</a> (Gray’s Inn Road)</li>
    <li><a target="_blank" href="http://www.marriott.com/hotels/travel/lonpr-st-pancras-renaissance-london-hotel/">St Pancras Renaissance Hotel</a></li>
    <li><a target="_blank" href="http://www.gnhlondon.com/">Great Northern Hotel</a></li>
  </ul>

</section>