<%= partial 'inner-header' %>

<section class="page-content container">
  <h2>Accommodation</h2>
  <p>We want you all to stay to the end and party with us late into the night. We are pretty lucky that TFL have decided 12th September will be the first night to run 24 hour tubes on the Victoria, Piccadilly, Northern, Jubilee &amp; Circle Lines so for London locals you have no excuse.</p>

  <p>For people travelling to London and would like some suggestions on places to stay please see some of the options below.</p>

  <ul>
    <li>Hotel Megaro</li>
    <li>Premier Inn London Kings Cross (York Way)</li>
    <li>Travelodge London Central Kings Cross (Gray’s Inn Road)</li>
    <li>St Pancras Renaissance Hotel</li>
    <li>Great Northern Hotel</li>
  </ul>

</section>