<%= partial 'inner-header' %>

<section class="page-content container">
  <h2>On the Day</h2>
  <p>The big day is 12th September, we hope you find everything that you need to celebrate the day with us.</p>

  <ul>
    <li><strong>2:30pm</strong> Everyone is welcome to join Sam for drinks at The Taproom (163 Upper Street) for some dutch courage</li>
    <li><strong>3:30pm</strong> Guests arrive at Islington Town Hall (Upper Street) for the ceremony</li>
    <li><strong>4pm</strong> Ceremony begins</li>
    <li><strong>4:30pm</strong> We're Married!</li>
  </ul>

  <p>Guests attending the wedding breakfast should hop on the bus outside the Town Hall.</p>

  <p>All other guests can feel free to go to one of the many awesome bars and restaurants around Islington until the evening celebrations begins, we have included some options below:</p>

  <h3>If your sticking around Upper Street</h3>
  <ul>
    <li>Be At One - Bang for your buck</li>
    <li>Ziloufs- Cool bar to grab a drink</li>
    <li>Le Mercure deuxième - Fantastic and affordable French cuisine</li>
    <li>Bill’s - Big selection or yummy food &amp; Sasha's favourite elderflower fizz</li>
  </ul>

  <h3>If your heading closer to Kings Cross</h3>
  <ul>
    <li>Honest Burger - If your not afraid of grease, great burgers and rosemary fries</li>
    <li>Dishoom - Amazing modern take on indian food</li>
    <li>Caravan - Hipster food for hipster people</li>
  </ul>

  <ul>
    <li><strong>5:45pm</strong> Wedding Breakfast at 6 St Chads Place</li>
    <li><strong>8:30pm</strong> Evening guests arrive for the cake cutting, first dance and partying!</li>
    <li><strong>1am</strong> Bar closes &amp; Carriages</li>
  </ul>

  <h3>The Next Day (Sunday 13th)</h3>
  <p>For all those that are around the next day we will be having a recovery lunch at **TBC** to get the low down on the gossip from the night before.</p>
</section>