<header class="site-header site-header--home">

  <%= image_tag 'us.png', class: 'site-header__logo' %>
  <h1 class="site-header__title">Sasha &amp; Sam are off to the USA <span class="site-header__date">15 August 2016</span></h1>

  <%= partial 'partials/nav' %>
</header>

<section class="container">
  <h2>Our Big Adventure</h2>
  <p>Almost a year on from our incredible wedding day, we are packing our bags and heading off on a 3 week adventure, travelling from Vanouver, BC to Los Angels, CA. You can follow our journey below and see the snaps we are poasting from the trip.</p>

  <div id="travel-map"></div>

</section>

<section class="container">
  <h2>The Story So Far</h2>

  <p>We first met each other in our work lift after Sam accepted a job in London. A 6-month friendship bloomed from a mutual love for music, cigarettes and comedy shows. After going to see the Phenomenal Handclap Band for the second time in 1 week (and a bit of intervention from <a target="_blank" href="https://www.facebook.com/TheTeddyHolmes">Ed Holmes</a> and <a target="_blank" href="https://www.facebook.com/camilla.d.caires">Camilla McCusker nee de Caires</a>) we realised we both held huge crushes on each other. Overnight our friendship transformed into a relationship.</p>

  <p>Sam is 3 years Sasha’s junior and our colleagues welcomed the news with <a href="http://bigassmessage.com/915d5" target="_blank">this</a>. Needless to say we’ve always kept a bit of humour and silliness around.</p>

  <p>5 years on, there has been 1 marriage proposal, 1 surrogate child in the form of a cat called Rufus, 6 new jobs, 1 mortgage and 118 floorboards laid with a lot of help from family. We look forward to becoming a kickass husband and wife team.</p>

</section>
