<%= partial 'common/inner-header' %>

<section class="container">
  <h2>RSVP</h2>
  <p>The RSVP's have now closed, please email <a href="mailto:sam.jbmason+wedding@gmail.com">sam.jbmason+wedding@gmail.com</a> if you need anything.</p>

</section>